@charset "UFT-8";

        @font-face {
            font-family: curiosidade;
            src: url('fontes/idroid.otf');
        }
        
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #E9E3C3;
            
        }
        
        * {
            margin: 0px;
            padding: 0px;
        }
        
        header {
            background-image: linear-gradient(#34b970d2, #063c1d );
            height: 150px;
            text-align: center;
            padding-top: 40px;
            margin: auto;

        }

        strong {
            color: #10703a;
            font-weight: bold;
        }
        
        header > p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.2em;
            color: white;
            text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
            margin: 15px;
            margin-top: 25px;
            max-width: 600px;
            margin: auto;
            margin-top: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }

        header > h1#principal {
            color: #F6F6F6;
            font-family: 'Bebas Neue', cursive;
            font-size: 3em;
            margin-top: 0px;
            text-shadow: 2px 2px 0px rgb(0 0 0 / 27%);
        }
        nav > a {
            color: aquamarine;
            font-family: arial;
            text-decoration: none;
            padding: 10px;
            font-weight: bold;
            transition-duration: .5s;
        }
        
        nav > a:hover {
            background-color: #88E2B0;
            color: #063c1d;
            text-decoration: none;
            padding: 10px;
            border-radius: 3px;
            font-weight: bold;
        }

        nav {
            text-align: left;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #063c1d;
            box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.199);
        }

        h1 {
            font-family: curiosidade;
        }
        
        main {
            border-radius: 10px 10px 0px 0px;
            padding-bottom: 15px;
        }
        
        article {
            background-color: #ffffff;
            border-radius: 0px 0px 10px 10px;
            box-shadow: 1px 2px 10px rgb(0 0 0 / 27%);
            min-width: 330px;
            max-width: 1040px;
            margin: auto;
        }
        
        main > article > h1 {
            font-weight: 100;
            color: #095229;
            font-size: 1.8em;
            margin: 0px 0px 20px 20px;
            padding-top: 20px;
            margin-left: 25px;
        }

        main p {
            font-family: Arial;
            font-size: 1em;
            margin: 15px 25px;
            line-height: 2.5em;
            text-indent: 30px;
            text-align: justify;
        }

        main > article > h2 {
            font-size: 1.3em;
            font-family: curiosidade;
            color: #10703a;
            background-image: linear-gradient(to right, #88E2B0, transparent);
            margin-right: 30px;
            padding-left: 5px;
            text-indent: 5px;
            font-weight: 100;
            margin-left: 25px;
            text-align: justify;
        }

        main > article > p > a {
            background-color: #88E2B0;
            color: #063c1d;
            font-size: 1em;
            font-weight: bold;
            text-align: center;
            text-align: justify;
        }

        .android {
            max-width: 350px; 
            margin: auto;
            display: block;
        }

        .irina {
            width: 95%;
            margin: auto;
            display: block;
        }

        .droids {
            width: 95%;
            margin: auto;
            display: block;
        }


        div.video > iframe {
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
            position: absolute;
            
        }

        .video {
            background-color: #095229;
            margin: 0px 0px 30px 0px;
            padding: 20px;
            padding-bottom: 58%;
            position: relative;
        }

        article > h3 {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #095229;
            padding: 10px;
            color: white;
            margin: 0px;
            border-radius: 10px 10px 0px 0px;
        }

        article.artigo {
            background-color: #83E1AD;
            margin: 20px;
            border-radius: 10px;
        }

        article.artigo > p {
            text-indent: 20px;
            line-height: 30px;
            font-family: Arial, Helvetica, sans-serif;
            margin: 10px 10px  0px 10px;
            padding-bottom: 10px;
        }

        article.artigo > ul {
            list-style-type: '\2714\00A0\00A0';
            list-style-position: inside;
            columns: 2;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 10px;
        }

        a {
            text-decoration: none;
            color: #095229;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
            color: #10703a;
        }

        .entao {
            margin-left: 20px;
            margin-right: 20px;
            padding-bottom: 25px;
        }

        footer {
            background-color: #095229;
            color: white;
            height: 25px;
            margin-bottom: -15px;
        }

        footer > p {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            padding: 5px;
            font-size: 0.8em;
        }

        footer > p > a {
            color: white;
        }

        footer > p > a:hover {
            color: #88E2B0;
        }